services:
  webapplication5:
    build: .
    container_name: myapp
    ports:
      - "8084:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=vetclinicdb;Username=postgres;Password=postgres
      - ASPNETCORE_URLS=http://+:8080
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
  db:
    image: postgres:16
    container_name: vetclinic_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: vetclinic_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    # Добавлено: проверка, что порт 5432 реально отвечает
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d vetclinic_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
