services:
  webapplication5:
    build:
      context: .
      dockerfile: Dockerfile
    
    container_name: myapp
    restart: always
    
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Host=`${POSTGRES_HOST};Database=vetclinicdb;Username=postgres;Password=`${POSTGRES_PASSWORD};Port=5432
      - AWS_ACCESS_KEY_ID=`${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=`${AWS_SECRET_ACCESS_KEY}
      - S3_BUCKET_NAME=`${S3_BUCKET_NAME}
      - ASPNETCORE_ENVIRONMENT=`${ASPNETCORE_ENVIRONMENT:-Production}
    
    ports:
      - "8084:8080"
    
    healthcheck:
      test: ["CMD-SHELL", "timeout 5 bash -c 'cat < /dev/null > /dev/tcp/localhost/8080' || exit 1"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 40s